.card{
    padding: 20px;
    /* margin-top: 30px; */
    height:380px;
    border-style:solid;
    border-width:2px;  
    border-radius: 5px;
    border-color:#92a6e2;
    margin-left: 500px;
    width: 35%;
   
  }
  h1{
      color:#2e4ead;
      text-align: center;
      margin-bottom: 40px;
  }

  .input-group-prepend span{
    width: 50px;
    background: linear-gradient(to right, #3346eb, #c54205);
  
    color: black;
    border:0 !important;
   
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }

    .btnAuth_login{
        width:200px;
        height:40px;
        color:#ffffff;
       text-align:center;
       border-radius: 40px;
        margin-top: 20px;
        margin-left: 130px;
        cursor:pointer;
        border: 1px solid black;
        background: linear-gradient(to right, #3346eb, #c54205);
        font-size: larger;
      }
      .bg{
        background-color: #e8edf5;
        height: 720px;
        display: flex;
        align-items: center;
       
      }

      @media screen and  (max-width: 768px){
        .btnAuth_login{
            width: 100%;
            margin-left: auto;
        }

      }
      
      